<section
  id="home"
  class="section-wrapper min-vh-100 d-flex flex-column justify-content-center align-items-center bg-section text-white mt-5 mt-sm-2 py-4"
>
  <div
    class="container d-flex flex-column justify-content-center align-items-center"
  >

  <figure class="mt-5 d-flex flex-column justify-content-center align-items-center">
        <img src="assets/images/avataaars.png" class="w-75" alt="avatar" />
  </figure>
  <header class="section-header">
    <h2 class="fs-1 text-uppercase">Start Framework</h2>
    <app-starbox></app-starbox>
  </header>
    <div class="section-content">
      <ul class="list-unstyled d-flex justify-content-center flex-wrap mt-4">
        <li>Graphic Artist <span class="px-1"> - </span></li>
        <li>Web Designer <span class="px-1"> - </span></li>
        <li>Graphic Artist</li>
      </ul>
    </div>
  </div>
</section>
